---
layout: default
---


<article class="single row gutters fadeInLeft animated">
    <h1 >{{ page.title }}</h1>
	<time class="published"  datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
    <a href="http://ruanwenjun.top/category.html#{{ page.tags }}">&raquo;{{ page.tags }}</a>

  {{ content }}
</article>

<div id="gitalk-container"></div>

<script type="text/javascript">var gitalk = new Gitalk({clientID: '0d9b3c9dcd509d1c9ab1',clientSecret: '65a61813a1471e2e850fa5c18facf1899c0e8c08',accessToken: 'c9c8a9c95956b71e2759c1483b96390abddda96f',repo: 'ruanwenjun.github.io',owner: 'ruanwenjun',admin: ['ruanwenjun'],id: location.pathname,      // Ensure uniqueness and length less than 50
distractionFreeMode: false  // Facebook-like distraction free mode
})
gitalk.render('gitalk-container')
</script>
